footer {
  margin-top: auto;
  background-color: var(--background-content-color);
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  color: var(--text-color);
  padding: 30px 0;
}

.mp_footer_li:first-child {
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-title-color);
}

.mp_footer_li:not(:first-child) {
  margin-top: 8px;
}

.mp_footer_li:not(:first-child):hover {
  cursor: pointer;
  color: var(--text-hover-color);
}
